/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/poppins-v20-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/poppins-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/poppins-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/poppins-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/poppins-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/poppins-v20-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: disc;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  color: darkkhaki;
}

h3 {
  margin-left: 30px;
  font-size: 16px;
}

img {
  height: 300px;
  width: 250px;
}

.banner {
  background-color: darkkhaki;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kurzinfo {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin-bottom: 25px;
}

.name {
  font-size: 20px;
  margin-bottom: 5px;
}

.kurzinfo-liste {
  list-style-type: none;
}

.information {
  border-width: 2px;
  border-style: solid;
  border-color: darkkhaki;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


